.myMessage {

}

.componentMessage {

}

.chatBox {
  right: 50px;
  bottom: 50px;
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: grabbing;

  background-color: #003d99;
}

.mainPane {
  
}

.conversation {
  
}