.productContainer {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  background-color: white;
}

.product_card {
  flex: 1 17%;
  border: 0.5px solid #e3e7ef;
  margin-bottom: -1px;
  margin-top: 0;
  margin-left: -1px;
  background-color: white;
}
.product_card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.product_image img {
  margin-top: 10px;
  max-width: 90%;
}

.product_info {
  margin-top: 10px;
  text-align: left;
  padding-left: 10px;
}

.price {
  color: red;
}
.time {
  color: gray;
  font-size: small;
  padding-bottom: 10px;
}

@media (max-width: 920px) {
  .product_card {
    flex: 1 30%;
  }
}

@media (max-width: 600px) {
  .product_card {
    flex: 1 50%;
  }
}

.title {
  text-align: left;

  font-size: 32px;
  margin-bottom: 24px;
  font-weight: 700;
  line-height: 1;
  color: #0e0e0e;
  padding: 20px 10px;
}

.categoryContainer {
  background-color: white;
}
