#ignore CDNServer
Backend/CDNServer/log/*
Backend/CDNServer/database/*

#golang
gin-bin
go.sum
Backend/GoBackend/.idea/*
Backend/CDNServer/.idea/*

#datamongo
Backend/Database/data/*

#javabackend
Backend/JavaBackend/.vscode/*
Backend/JavaBackend/target/*
Backend/JavaBackend/node_modules/*

#frontend
Frontend/**/node_modules/*

#nodejsbackend
node_modules/
.env
seeder.js
data/
logs/

